---
import TwitchLogo from "../components/TwitchLogo.astro";
---

<section class=" animate-fade-in-up delay-300 flex font-medium text-primary gap-y-10 my-32 flex-col">
    <div class="flex justify-center items-center">
        <a class="hover:text-purple-800 transition hover:scale-90 inline-block" href="https://twitch.tv/ibai" target="_blank" rel="noopener noreferrer nofollow">
            <TwitchLogo class="text-primiry"/>
        </a>
    </div>
    <div class="grid  uppercase text-center gap-x-10 [grid-template-columns:1fr] md:[grid-template-columns:1fr_1.5fr_1fr]">
        <article class="order-2 md:flex-grow md:order-none flex justify-center items-center text-2xl py-10 md:py-12 lg:py-20 px-10 md:border-y-2 border-primary">
            <h5 class="w-56 text-center">Presentación, Pesaje, Entrevista y Cara a Cara</h5>
        </article>
        <article class="order-1 md:flex-grow md:order-none flex justify-center items-center text-2xl  py-10 md:py-12 lg:py-20 px-10 border-y-2 border-primary">
            <h4>
                <a class="hover:text-purple-800 transition hover:scale-110 inline-block" href="https://twitch.tv/ibai" target="_blank" rel="noopener noreferrer nofollow">
                    Síguelo en directo en twitch.tv/ibai
                </a>
                
            </h4>
        </article>
        <article class="order-3 md:flex-grow md:order-none flex justify-center items-center text-2xl py-10 md:py-12 lg:py-20 px-10 border-y-2 border-primary">
            <h5 class="w-56 text-center">Con la precencia de los boxeadores y boxeadoras</h5>
        </article>
    </div>

</section>-